@tailwind base;
@tailwind components;
@tailwind utilities;

/**
    ScrollToTop Css
*/
  
  .loader {
    width: 15px;
    height: 15px;
  }
  
  svg {
    width: 100px;
    fill: none;
  }
  
  .load {
    transform-origin: 50% 50%;
    stroke-dasharray: 570;
    stroke-width: 20px;
  }
  .load.one {
    stroke: #ffb705;
    animation: load 1.5s infinite;
  }
  .load.two {
    stroke: #ffcd51;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }
  .load.three {
    stroke: #ffe39e;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
  .point {
    animation: bounce 1s infinite ease-in-out;
  }
  .point.one {
    fill: #ffe39e;
    animation-delay: 0s;
  }
  .point.two {
    fill: #ffcd51;
    animation-delay: 0.1s;
  }
  .point.three {
    fill: #ffb705;
    animation-delay: 0.2s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes load {
    0% {
      stroke-dashoffset: 570;
    }
    50% {
      stroke-dashoffset: 530;
    }
    100% {
      stroke-dashoffset: 570;
      transform: rotate(360deg);
    }
  }

/**
    End of ScrollToTop Css
*/

/**
    SideNavbar
*/
a.active:before, ul li a:hover:before {
  width: 100%;
}

.active span:first-child {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.active span:nth-child(2) {
  left: 50%;
  width: 0;
}

.active span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
    End of SideNavbar
*/